html {
  padding: 1%;
  background: #D4E1E8;
}

h1 {
  color: #3B71B2;
}

.problem {
  background: #FFF9D2;
  width: 20%;
  padding: 2%;
  border-radius: 15px;
}

.x-value, .y-value, .symbol, .equal-sign, .answer {
  display: inline-block;
  margin-right: 1%;
}

.message {
  background: #FF6F61;
  color: #3B71B2;
  width: 20%;
  padding: 0.4% 2%;
  border-radius: 15px;
  margin-bottom: 10px;
}
