/* Color Theme Swatches in Hex */
.Faded-Rainbow-1-hex { color: #2D5BB5; }
.Faded-Rainbow-2-hex { color: #67A482; }
.Faded-Rainbow-3-hex { color: #E1F88C; }
.Faded-Rainbow-4-hex { color: #F2B05E; }
.Faded-Rainbow-5-hex { color: #CC6D59; }

/* blue #2D5BB5 */
/* green #67A482 */
/* red #CC6D59 */
/* orange #F2B05E */
/* tan #FFE9AC */
/* yellow #E1F88C */


html {
  padding: 1%;
  background: #2D5BB5;
  font-family: Questrial, Arial;
}

h1 {
  color: white;
}

.mg-bottom {
  margin-bottom: 10px;
}

.quantity input {
  text-align: right;
}

.event-form {
  background: #67A482; /* green */
  padding: 4%;
  border-radius: 10px;
}

.event-form .datepicker {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event-form .datepicker .input {
  width: 80%;
}

.event-form .datepicker .react-datepicker-wrapper {
  width: 100%;
}

.event-form .datepicker .react-datepicker-wrapper .react-datepicker__input-container {
  width: 100%;
}

.event-form .datepicker .react-datepicker-wrapper .react-datepicker__input-container input {
  width: 100%;
}

.meal-form-detail .item-select {
  display: flex;
  justify-content: space-between;
}

.meal-form-detail .item-select .select-box {
  width: 90%;

}

.meal-form-detail .quantity,
.snack-form-detail .quantity {
  display: flex;
  justify-content: space-between;
}

.meal-form-detail .quantity .input,
.snack-form-detail .quantity .input {
  width: 30%;
}

.meal-form-detail .quantity .unit,
.snack-form-detail .quantity .unit {
  width: 65%
}

.medication-event-form {
  background: #67A482; /* green */
  padding: 4%;
  border-radius: 10px;
}

.medication-event-form .datepicker {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.medication-event-form .datepicker .input {
  width: 80%;
}

.medication-event-form .datepicker .react-datepicker-wrapper {
  width: 100%;
}

.medication-event-form .datepicker .react-datepicker-wrapper .react-datepicker__input-container {
  width: 100%;
}

.medication-event-form .datepicker .react-datepicker-wrapper .react-datepicker__input-container input {
  width: 100%;
}

.medication-form-detail .type-select {
  display: flex;
  justify-content: space-between;
}

.medication-form-detail .type-select .select-box {
  width: 90%;
}

.medication-form-detail .quantity {
  display: flex;
  justify-content: space-between;
}

.supplement-event-form {
  background: #67A482; /* green */
  padding: 4%;
  border-radius: 10px;
}

.supplement-event-form .datepicker {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.supplement-event-form .datepicker .input {
  width: 80%;
}

.supplement-event-form .datepicker .react-datepicker-wrapper {
  width: 100%;
}

.supplement-event-form .datepicker .react-datepicker-wrapper .react-datepicker__input-container {
  width: 100%;
}

.supplement-event-form .datepicker .react-datepicker-wrapper .react-datepicker__input-container input {
  width: 100%;
}

.supplement-form-detail .type-select {
  display: flex;
  justify-content: space-between;
}

.supplement-form-detail .type-select .select-box {
  width: 90%;

}

.supplement-form-detail .quantity {
  display: flex;
  justify-content: space-between;
}

hr.horizontal-separator {
  border-top: 1px solid #8c8b8b;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

.left {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.right {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
