/* Color Theme Swatches in Hex */
.Faded-Rainbow-1-hex { color: #2D5BB5; }
.Faded-Rainbow-2-hex { color: #67A482; }
.Faded-Rainbow-3-hex { color: #E1F88C; }
.Faded-Rainbow-4-hex { color: #F2B05E; }
.Faded-Rainbow-5-hex { color: #CC6D59; }

/* blue #2D5BB5 */
/* green #67A482 */
/* red #CC6D59 */
/* orange #F2B05E */
/* tan #FFE9AC */
/* yellow #E1F88C */


html {
  padding: 1%;
  background: #2D5BB5;
}

h1 {
  color: white;
}

.left {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.right {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.problem {
  background: #E1F88C; /* yellow */
  width: 100%;
  padding: 5% 2%;
  border-radius: 15px;
}

.x-value, .y-value, .symbol, .equal-sign, .answer {
  display: inline-block;
  margin-right: 1%;
}

.message.failure {
  background: #CC6D59; /* red */
  color: #2D5BB5; /* blue */
}

.message.success {
  background: #67A482; /* green */
  color: #E1F88C; /* yellow */
}

.message {
  width: 100%;
  padding: 0.4% 2%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.info {
  color: #E1F88C;
  background: #2D5BB5;
  width: 100%;
  padding: 4% 2%;
  border-radius: 15px;
  margin-top: 10px;
}

.meme {
  margin-left: 5%;
  padding: 10px;
  background: #E1F88C;
  border-radius: 25px;
}

.admin-form input.url {
  width: 100%;
}

.dimensions {
  display: flex;
}

.dimensions .label, .dimensions .input {
}

.dimensions .label {
  width: 20%;
}

.dimensions .input {
  width: 20%;
  margin-left: 2%;
}

.dimensions .input input {
  width: 80%;
}

.success-radio {
  display: flex;
}

.success-radio .label {
  width: 30%;
}

.success-radio .input {
  width: 20%;
}
